@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fredoka+One&display=swap');

[data-theme='light'] {
  --textColor: #333;
  --titleColor: rgb(17, 22, 63);
  --bgColor: #fafafa;
  --linkColor: #ffffff;
}

[data-theme='dark'] {
  --textColor: #eee;
  --titleColor: #eee;
  --bgColor: rgb(6, 0, 26);
  --linkColor: #080124;
}

header{
  background-color: var(--textColor);
  color: var(--bgColor);
}

body {
  background-color: var(--bgColor);
  color: var(--textColor);
  min-height: 100vh;
}

a {
  color: var(--linkColor);
}

h1 {
  color: var(--titleColor);
}

footer {
  background-color: var(--textColor);
  color: var(--bgColor);
}

ul{
  color: var(--textColor);
}